
<link rel="stylesheet" href="/css/user_profile.css">
    <!-- <h1>User profile</h1> -->
    <h1>profile of user</h1>
    <h5>
        <a href="/users/sign-out"> SignOut</a>
    </h5>

    <hr width="50%">
    <p>Name :  some thing </p>
    <p>Email :  some thing </p>

    

    
