
<link rel="stylesheet" href="/css/user_profile.css">
    <h2>Welcome to user home</h2>

    <hr width="50%">
    <a href="/users/sign-in"> Sign In</a>
    <br>
    <a href="/users/sign-up"> Sign Up</a>
    

    