<a href="/users"> Go back</a>

<h1>sign up</h1>

<!-- sendind data bcz use post -->

<form action="/users/create" method="post">
    <input type="text" name="name" id="" placeholder="Your Names" required>
    <input type="email" name="email" id="" placeholder="Your Email" required>
    <input type="password" name="password" id="" placeholder="Your Password" required>
    <input type="password" name="Confirm_password" id="" placeholder="Confirm password" required>
    <input type="submit" value="Sign Up">
</form>